__pycache__/command.cpython-310.pyc
__pycache__/mysocket.cpython-310.pyc
client.txt
files
__pycache__/file.cpython-310.pyc
__pycache__/server.cpython-310.pyc
.gitignore
.client.txt.swp
/.vs/sistemas_distribuidos_atv1_napster_p2p/FileContentIndex
/.vs
/__pycache__
